  @font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
  }
  
  body, p, h1, h2, h3, ul {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
  }
  
  .header {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: #000;
    z-index: 0;
    position: relative;
  }
  
  /* затемнение */
  .header::after {
    content: "";
    position: absolute;
    background-color: #000000;
    left:0;
    right:0;
    bottom:0;
    top:0;
    opacity: 0.6;
    z-index:-1;
  }
  
  .header-container {
    width: 72.3%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 35px 15px 0px 15px;
  }
  
  .logo {
    width: 179px;
    height: 41px;
  }
  .logo-mobile {
    display: none;
  }

  .menu-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-list-item {
    margin-right: 35px;
  }
  
  .menu-list-item:last-child {
    margin-right: 0px;
  }
  
  .menu-link {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 13px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  
  .menu-link:hover {
    text-decoration-line: underline;
  }
  
  .intro {
    display: block;
    padding-top: 100px;
    padding-bottom: 124px;
    margin-left: auto;
    margin-right: auto;
    width: 687px;
    text-align: center;
  }
  
  .title {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 45px;
    line-height: 75px;
  }
  
  .hamburger-icon {
      margin: 0;
      display: none;
   
  }
  .hamburger-icon span {
      width: 40px;
      background-color: rgb(255, 255, 255);
      height: 5px;
      display: block;
      margin-bottom: 6px;
  }
  .hamburger-icon span:last-child {
      margin-bottom:0px;
  }

  /* для планшета */
  @media (min-width: 641px) and (max-width: 1199px) {
    .header {
      min-width: 641px;
      background-image: url("../images/banner-bg-tablet.jpg");

    }
    .intro {
      width:80%;
    }
    .header-container {
      width: 100%;
      padding: 50px 35px 0px 35px;
    }

    .title {
      font-size: 40px;
    }
    
    .menu {
      display: none;
    }

    .hamburger-icon {
      display: inline-block;
    }

  }

  /* телефон */
  @media (max-width: 640px){
    .header {
      max-width: 640px;
      background-image: url("../images/banner-mobile.jpg");

    }
    .logo {
      display: none;
    }

    .logo-mobile {
      display: block;
      width:81.8%;
      margin: 180px auto 0 auto;
    }

    .intro {
      width:80%;
      margin: 45px auto auto auto;
      padding: 0 0 220px 0;
    }
    .header-container {
      width: 100%;
      padding: 30px 15px 0px 15px;
      justify-content: flex-end;
    }

    .title {
      font-size: 26px;
      line-height: normal;
    }
    
    .menu {
      display: none;
    }

    .hamburger-icon {
      display: inline-block;
      align-self: end;
    }

  }

  /* основной контент */
  .container {
   width: 100%;
   max-width: 1660px;
   margin: 0 auto;
  }
  
  .container-content {
    max-width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 64px 15px 64px 15px;
  }
  
  .main-content {
    width:100%;
    max-width: 778px;
    margin-right: 120px;
  }
  
  .post {
    display: flex;
    margin-bottom: 60px;
    width: 100%;
  }

  .post:last-child {
    margin-bottom: 0;
  }
  
  .picture-post {
    width: 23vw;
  }
  
  .frame {
    margin-left: 30px;
  }
  
  .tag-list {
    display: flex;
  }
  
  .category {
    margin-right: 15px;
  }
  
  .tag-link {
    color: #b59f5b;
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .tag-link:hover {
    text-decoration-line: underline;
  }
  
  .ref-title-post {
    text-decoration: none;
  }
  
  /* Настройки заголовка шрифта */
  .title-post {
    color: #0f0d0e;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-top: 8px;
  }
  
  /* подсвечивание при наведении на заголовок
  поста*/
  .title-post:hover {
    text-shadow: #b59f5b 0 0 0;
  }
  
  .date-autor {
    display: flex;
    margin: 25px 0 40px 0;
  }
  
  .date {
    color: #888888;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin-right: 15px;
  }
  
  .title-autor {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
  }
  
  /* параметры текста поста */
  .text-post {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    margin-top: 15px;
  }
  
  /* планшет */
  @media (min-width: 641px) and (max-width: 1199px)
  {
    .post {
      flex-direction: column;
    }
    .container-content {
     
      flex-wrap: nowrap;
      padding-bottom: 44px;
    }
    .picture-post {
      width: 100%;
    }
    .main-content {
      margin-right: 35px;
    }

    .frame {
      margin-left: 0;
      margin-top: 15px;
    }
    .post::after {
        content: "";
        display: block;
        margin-top: 23px;
        margin-bottom: 40px;
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
    }
  }

    /* телефон */
    @media (max-width: 640px)
    {
      .post {
        flex-direction: column;
        margin-bottom: 34px;
      }
      .post:last-child {
        margin-bottom: 44px;
      }
      .container-content {
       
        flex-wrap: nowrap;
        flex-direction: column;
        padding-bottom: 44px;
      }
      .picture-post {
        width: 100%;
      }
      .main-content {
        margin-right: 35px;
      }
  
      .frame {
        margin-left: 0;
        margin-top: 15px;
      }
      .post::after {
          content: "";
          display: block;
          margin-top: 23px;
          margin-bottom: 40px;
          width: 100%;
          height: 3px;
          background-color: #eeeeee;
      }
    }
  /* side-bar */
  /* новые посты */
  .last-posts {
    width: 272px;
    margin-bottom: 60px;
  }
  
  /* параметры заголовка  */
  .title-side {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
  }
  
  /* линия под заголовком */
  .title-side::after {
    content: "";
    display: block;
    width: 66px;
    margin: 14px auto 25px auto;
    border-bottom: 3px solid #e1d9bd;
  }
  
  .last-post-items {
    display: flex;
    margin-bottom: 12px;
  }
  
  .last-post-items:last-child {
    margin-bottom: 52px;
  }
  
  .last-post-img {
    margin: 4px 9px 7px 2px;
  }
  
  .text-items {
    margin-left: 11px;
  }
  
  /* параметры заголовка
   "последнего поста" */
  .last-post-title {
    font-size: 14px;
    line-height: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
  }
  
  .last-post-title:hover {
    text-shadow: #b59f5b 0 0 0;
  }
  
  .last-post-ref {
    text-decoration: none;
    color: #000000;
  }
  
  /* форма поиска */
  .search-form {
    width: 272px;
    display: flex;
  }
  
  .search-box {
    display: flex;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  /* инпут для поиска */
  .field-search {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 222px;
    height: 47px;
    padding: 0;
    padding-left: 19px;
    border: none;
    background: #f4f7f6;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
  }
  
  .field-search:focus {
    outline: none;
    border-bottom: 1px solid #ebe7d7;
  }
  
  /* параметры кнопки поиска */
  .button-search {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    padding: 0;
    border: none;
    width: 48px;
    height: 48px;
    background: #b59f5b;
    background-image: url("../svg/search.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
  }
  
  .button-search:hover {
    background-color: #323232;
  }
  
  /* подписка  */
  .subscribe {
    width: 272px;
    margin-bottom: 60px;
  }
  
  /* инпут для подписки */
  .field-subscribe {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    width: 272px;
    height: 47px;
    padding: 0;
    padding-left: 19px;
    border: none;
    margin-bottom: 17px;
    background: #f4f7f6;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
  }
  
  .field-subscribe:focus {
    outline: none;
    border-bottom: 1px solid #ebe7d7;
  }
  
  .button-subscribe {
    -webkit-appearance: none;
    -moz-appearance: none;
    box-sizing: border-box;
    padding: 0;
    border: none;
    width: 272px;
    height: 48px;
    background: #b59f5b;
    cursor: pointer;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }
  
  .button-subscribe:hover {
    background-color: #323232;
  }
  
  /* блок тегов */
  .tags {
    width: 272px;
    margin-bottom: 60px;
  }
  
  .tags-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ref-tag {
    text-decoration: none;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    background: white;
    padding: 8px 14px 6px 13px;
    margin: 0 5px 6px 1px;
    border: 3px solid #eeeeee;
  }
  
  .ref-tag:hover {
    border-color: #b59f5b;
    text-shadow: #0f0d0e 0 0 0;
  }
  
  /* блок тем */
  .categories {
    width: 272px;
    margin-bottom: 60px;
  }
  
  /* тема */
  .topic {
    display: flex;
    box-sizing: border-box;
    width: 272px;
    height: 35px;
    background: white;
    padding-bottom: 14px;
    border-bottom: 1px solid #eeeeee;
    margin-top: 13px;
  }
  
  .topic:first-child {
    margin-top: 0;
  }
  
  /* параметры ссылки темы */
  .topic-ref {
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #000000;
    margin-left: 2px;
  }
  
  .topic-ref:hover {
    text-shadow: #b59f5b 0 0 0;
  }
  
  .topic-count {
    text-decoration: none;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #b59f5b;
  }
  
  @media (max-width:640px) {
    .last-posts {
      width: 100%;
      margin-bottom: 44px;
    }
    .search-form {
      width: 100%;
    }
    .search-box {
      width: calc(100% - 48px);
    }
    .field-search {
      width: 100%;
    }

    .subscribe {
      width: 100%;
      margin-bottom: 44px;
    }
    .subscribe-form
    {
      width: 100%;
    }
    .subscribe-box {
      width: 100%;
    }
    .field-subscribe{
      width: 100%;
    }
    .button-subscribe {
      width: 100%;
    }

    .tags {
      width: 100%;
      margin-bottom: 44px;
    }

    .categories {
      width: 100%;
      margin-bottom: 0;
    }
    .topic {
      width: 100%;
    }

  }

  /* подвал */
  .footer {
    width: 100%;
    max-width: 1660px;
    margin: 0 auto;
  }
  
  .social {
    box-sizing: border-box;
    max-width: 1230px;
    margin: 0 auto 74px auto;
    padding: 0 15px 0 15px;
  }
  
  /* блок с соцсетями */
  .social-items {
    padding: 32px 0 32px 0;
    background: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-img-ref {
    width: 20px;
    height: 20px;
    margin-right: 31px;
  }
  
  .copyrights {
    box-sizing: border-box;
    max-width: 1200px;
    height: 12px;
    padding: 0 15px 0 15px;
    margin: 0 auto;
  }
  
  .copyright-ref-block {
      text-align: center;
  }
  
  .copyright-ref {
    text-decoration: none;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: #999999;
  }
/* планшет */
  @media (min-width: 641px) and (max-width: 1199px) {
    .social {
      margin-bottom: 48px;
    }

    .copyrights {
      margin-bottom: 40px;
    }
  }
/* телефон */
  @media (max-width: 640px){
    .social {
      margin-bottom: 48px;
    }

    .copyrights {
      margin-bottom: 40px;
    }
  }
 /* наши изделия */
  .container-product {
    max-width: 1200px;
    margin: 0 auto 64px auto;
    padding-left: 1%;
    padding-right: 1%;
  }

  .title-containter-product {
    font-size: 20px;
  }

 .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.product {
 
  box-sizing: border-box;
  width: calc(33.33% - 43.33px);
  display: flex;
  flex-direction: column;
}

.product-images {
    width: 87%;
    margin: 0 auto;
}

.produc-img {
  width: 100%;
  margin: 0 auto;
}

.title-product {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container-product-info {
  border: 3px solid #d3c59d;
  flex-grow: 1;
  padding: 40px 20px 25px 20px;
  margin-top: -30px;
  
}

.info-product {
  width: 87%;
}

.product-text {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.buy-block-product {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ref-product {
  text-decoration: none;
  color: #c0ae78;
}
.ref-product:hover {
  text-decoration: underline;
}

.button-buy {
    padding: 20px 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #b59f5b;
}
.button-buy:hover {
  background-color: #323232;
}

.price {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
}

.new-price {
  font-size: 20px;
}

/* планшет */
@media (min-width: 641px) and (max-width: 1199px)
{
  .product {
    width: calc(50% - 23px);
  }
  .product:nth-child(4n+4), .product:nth-child(4n+3)
  {
    margin-top: 28px;
  }
}

/* телефон */
@media (max-width: 640px)
{
  .product {
    width: calc(100%);
  }
  .product:nth-child(n+2)
  {
    margin-top: 28px;
  }
}

/* Сейчас в тренде*/
.trends {
  width: 100%;
  margin-top: 60px;
}

.title-trends {
  font-size: 20px;
}

.container-trends {
  display: flex;
  flex-wrap: wrap;

}
.trend {
  font-family: "Open Sans", "Arial", sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  width: calc(25% - 4px);
  flex-grow: 1;
  padding: 9% 20px 20px;
  margin-right: 4px;
  margin-bottom: 4px;
  position: relative;
  z-index: 0;
  background-size: cover;
  
}

.trend-garden {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-chees {
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-travel {
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend-limon {
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.trend::before {
  content: "";
  position: absolute;
  background-color: #000000;
  left:0;
  right:0;
  bottom:0;
  top:0;
  opacity: 0.6;
  z-index:-1;
}

.ref-title-trend {
  text-decoration: none;
}

.title-trend {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color:white;
  font-size: 20px;
  text-transform: uppercase;
}

.title-trend:hover {
  color: #b59f5b;
}

.trend-items {
  width: 100%;
  box-sizing:border-box;
  border: 4px solid #b59f5b;
  padding: 8.8% 17.5% 10% 8%;
  
}
/* планшет */
@media (orientation: portrait) and (min-width: 641px) and (max-width: 1199px)
{
  .trend {
    width: calc(50% - 4px);
  }
  .title-trend {
    font-size: 17px;
  }
}

@media (orientation: landscape) and (min-width: 641px) and (max-width: 1199px)
{
  .trend {
    width: calc(25% - 4px);
  }
  .title-trend {
    font-size: 17px;
  }
  .tag-list {
    flex-direction: column;
  }
}

/* телефон */
@media (orientation: portrait) and (max-width: 640px)
{
  .trend {
    width: 100%;
    margin:0;
  }

  .title-trend {
    font-size: 16px;
  }

  .trend:nth-child(n+2)
  {
    margin-top: 4px;
  }
}

@media (orientation: landscape) and (max-width: 641px)
{
  .trend {
    width: calc(50% - 4px);
    margin-right:0;
  }

  .trend:nth-child(odd)
  {
    margin-right: 4px;
  }
}

/* попап */

.popup {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  position: relative;
  width: 30%;
  min-width: 390px;
  background-color: white;
  padding: 54px 30px;
  z-index: 11;
}

.button-close {
  position: absolute;
  left:100%;
  top: -30px;
  color: white;
}

.button-close:hover {
  cursor: pointer;
}

.button-close:before, .button-close:after {
  position: absolute;
  left: -15px;
  content: ' ';
  height: 23px;
  width: 2px;
  background-color: white;
}
.button-close:before {
  transform: rotate(45deg);
}
.button-close:after {
  transform: rotate(-45deg);
}

.title-feedback {
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.question-select {
  font-size: 13px;
  color: #a2a4a3;
  -webkit-appearance: none;
    -moz-appearance: none;
  border: 2px solid #f4f7f6;
  width:100%;
  margin-top: 10px;
  background-color: #f4f7f6;
  padding: 20px 20px;
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}
.question-select:focus {
    outline: none;
    border: 2px solid #ebe7d7;
}

.question-select:hover {
    border: 2px solid #ebe7d7;
}

.label-container {
  margin-top: 10px;
}

.email-message {
  margin-right:14px;
}

.varible {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.varible:checked ~ .radio-answer::before {
  background-image: url(../svg/form-circle.svg);
}

.radio-answer::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 3px;
  background: url(../svg/form-empty-circle.svg) no-repeat center center;
  background-size: 100%;
}

.text-message {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #f4f7f6;
  color: #c4c6c5;
  width:100%;
  padding:10px;
  min-height: 130px;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  resize: none;
}

.text-message:focus {
    outline: none;
    border: 2px solid #ebe7d7;
}

.text-message:hover {
    border: 2px solid #ebe7d7;
}

.send-button{
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid #f4f7f6;
  background:#b59f5b;
  color: white;
}

.send-button:hover {
  border-top: 2px solid #ebe7d7;
  cursor: pointer;
}

.visually-hidden {
    clip: rect(1px, 1px, 1px, 1px); 
}

.popup-container {
  
  height: 20px;
  position: absolute;
  z-index:15;
  background-color: red;
}
.Button-popup {
  display: none;
}

.Button-popup:checked ~ .visually-hidden{
  clip: auto;
}

/* телефон попап */
@media (max-width: 640px)
{
  .popup-content {
    padding: 23px 20px;
    width: 80%;
    min-width: 0;
  }
  .form {
    margin-bottom: 15px;
  }
  .text-message {
    min-height: 0;
  }
 .question-select {
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .send-button {
    padding-top: 10px;
  padding-bottom: 10px;
  }

  .title-feedback {
    font-size: 16px;
  }
  .title-side::after {
    margin: 10px auto 20px auto;
  }
}